.project-list-container {
  padding-top: 80px;
  text-align: center;
}

.menu-container {
  position: absolute;
  top: 2%;
  left: 2%;
}

.menu-button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: var(--hover-color);
}

.nav-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 0;
  min-width: 200px;
  top: 50px;
}

.menu-container.active .nav-dropdown {
  display: block;
}

.nav-dropdown a {
  display: block;
  padding: 10px 20px;
  color: var(--primary-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-dropdown a:hover {
  background-color: var(--hover-color);
  color: white;
}

.project-links {
  list-style-type: none; 
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
  text-align: left; 
}

.project-links li {
  margin-bottom: 15px; 
}

.project-link {
  color: var(--primary-color);
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: var(--hover-color);
  text-decoration: underline; 
}

.search-container input {
  margin-bottom: 20px;
  margin-top: -1px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  outline: none;
  transition: border-color 0.3s ease;
}

.search-container input:focus {
  border-color: var(--hover-color);
}
