:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #ff6600; 
  --secondary-color: #f0f0f0;
  --accent-color: #00bcd4; 
  --bg-color: #ffffff;
  --text-color-light: #000000;
  --text-color-dark: #000000;
  --hover-color: #ff9933; 
  
  color-scheme: light dark;
  color: var(--text-color-light);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  color: var(--hover-color);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color-light);
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--primary-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  padding: 0.6em 1.5em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  border-color: var(--hover-color);
}
button:focus,
button:focus-visible {
  outline: 4px solid var(--hover-color);
}

input, textarea {
  width: 100%;
  padding: 0.8em;
  margin: 0.5em 0;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--text-color-light);
    background-color: #121212;
  }

  a:hover {
    color: var(--primary-color);
  }

  button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  input, textarea {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
  }
}

.landing-buttons {
  display: flex;
  justify-content: left;
  margin-top: 1.5em;
}

.landing-buttons button {
  margin-right: 10px;
}
